:root {
    --primary-color: plum;
    --secondary-color: #272044;
    --box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
    --font-family: monospace;
}

body, 
.instructions,
.submit-button {
    font-family: var(--font-family);
}

body {
    background-color: #f9f7fe;
}

a {
    color: var(--primary-color);
}

.container {
    margin: 120px auto;
    max-width: 600px;
}

header {
    margin-bottom: 36px;
}

h1 {
    font-weight: 800;
    font-size: 36px;
    line-height: 1.5;
    color: var(--secondary-color);
    text-align: center;
}

.form-container {
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 20px 30px;
    background-color: white;
    box-shadow: var(--box-shadow);
}

form {
    display: flex;
}

.hint {
    line-height: 1.5;
    font-size: 12px;
    margin-top: 5px;
    opacity: 0.6;
}

.instructions {
    padding: 16px;
    border: 1px solid rgba(39, 33, 66, 0.5);
    width: 80%;
    font-size: 16px;
    border-radius: 50px;
    line-height: 20px;
    color: var(--secondary-color);
}

.submit-button {
    margin-left: 10px;
    background-color: var(--primary-color);
    color: white;
    width: 150px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    padding: 14px 24px;
}

.animal-joke {
    font-size: 16px;
    background-color: white;
    padding: 20px;
    line-height: 2;
    border-left: 3px solid plum;
    box-shadow: var(--box-shadow);
}

.animal-joke strong {
    color: var(--primary-color);
}

.hidden {
    display: none;
}

footer {
    text-align: center;
    font-size: 11px;
    margin-top: 30px;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}